{{>header}}
  
<div class="container">
  <h3>Basic Navbar Example</h3>
  <p>A navigation bar is a navigation header that is placed at the top of the page.</p>
  <input type="text" placeholder="Enter your Location" id="inputValue">
  <button class="btn btn-success btn-sm" onclick="search()">Search</button>

  <h1 id="k1">  </h1>
  <h3 id="k2"></h3>
</div>
<script src="/assets/js/main.js"></script>
{{>footer}}
